/target
.DS_Store
.idea
/rust
/cache
etc/config.toml
ui/assets/*.gz
ui/assets/main.js
ui/assets/main.css
ui/assets/main.css.map
ui/assets/node_modules
test/data/db/img/*
!test/data/db/img/.gitkeep
test/data/db/vm/*
!test/data/db/vm/.gitkeep
._*
bits
smartos-ui*.tar.gz
