{%- import "macros/icons.j2" as icons -%}
{% extends "layout/main.j2" %}
{% block title %}Dashboard{% endblock %}
{% block body %}

{# Tailwind classes for the active navigation entry and inactive ones #}
{% let active = "active-sidebar-nav" %}
{% let inactive = "inactive-sidebar-nav" %}
<body class="h-full">
<div>
  <div class="xl:fixed xl:inset-y-0 xl:z-50 xl:flex xl:w-72 xl:flex-col">
    <!-- Sidebar component, swap this element with another sidebar if you like -->
    <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-black/10 px-6 ring-1 ring-white/5">
      <div class="flex h-16 shrink-0 items-center pt-px">
        {% call icons::smartos("h-10 w-10") %}
        <h1 class="text-white pl-4">SmartOS</h1>
      </div>
      <nav class="flex flex-1 flex-col" data-hx-sync="this:replace" data-hx-target="#main" data-hx-select="#content">
        <ul class="flex flex-1 flex-col gap-y-7">
          <li>
            <ul class="-mx-2 space-y-1">
              <li>
                <a href="/dashboard"
                  data-hx-get="/dashboard"
                  class="{% if title == "Dashboard" %}{{active}}{% else %}{{inactive}}{% endif %} group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold cursor-pointer main-nav">
                  {% call icons::home("") %}
                  Dashboard
                </a>
              </li>
              <li>
                <a href="/instances"
                data-hx-get="/instances"
                class="{% if title == "Instances" %}{{active}}{% else %}{{inactive}}{% endif %} group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold cursor-pointer main-nav">
                  {% call icons::servers("") %}
                  Instances
                </a>
              </li>
              <li>
                <a href="/images"
                  data-hx-get="/images"
                  class="{% if title == "Images" %}{{active}}{% else %}{{inactive}}{% endif %} group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold cursor-pointer main-nav">
                  {% call icons::box("") %}
                  Images
                </a>
              </li>
            </ul>
          </li>
          <li class="-mx-6 mt-auto">
            <a href="/logout" class="flex items-center gap-x-4 px-6 py-3 text-sm font-semibold leading-6 text-white hover:bg-gray-800">
              {% call icons::logout("") %}
              Logout
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div id="main" class="lg:pl-72">
      {% block content %}{% endblock %}
  </div>
</div>

<!-- Global notification live region, render this permanently at the end of the document -->
<div id="notify" aria-live="assertive" class="pointer-events-none fixed inset-0 flex items-end px-4 py-6 sm:items-start sm:p-6 hidden">
  <div class="flex w-full flex-col items-center space-y-4 sm:items-end">
    <div class="pointer-events-auto w-full max-w-sm overflow-hidden rounded-lg bg-slate-800 shadow-lg ring-1 ring-black ring-opacity-5">
      <div class="p-4">
        <div class="flex items-start">
          <div id="notify-icons" class="flex-shrink-0">
            <svg id="notifiy-icon-ok" class="hidden h-6 w-6 text-green-400" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <svg id="notifiy-icon-error" class="hidden h-6 w-6 text-red-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
            </svg>
            <svg id="notifiy-icon-info" class="hidden h-6 w-6 text-blue-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
            </svg>
          </div>
          <div class="ml-3 w-0 flex-1 pt-0.5">
            <p id="notify-body" class="text-sm font-medium text-white"></p>
            <p id="notify-heading" class="mt-1 text-sm text-slate-500"></p>
          </div>
          <div class="ml-4 flex flex-shrink-0">
            <button id="notify-close" type="button" class="cursor-pointer inline-flex rounded-md bg-slate-600 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
              <span class="sr-only">Close</span>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal"></div>

<div id="notifications"></div>

</body>
{% endblock %}