{#

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  Copyright 2024 MNX Cloud, Inc.

#}
{%- import "macros/icons.j2" as icons -%}
{%- import "macros/inputs.j2" as input -%}
{% extends "layout/authed.j2" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div id="content">

  <header class="header-bg top-0 z-40 flex h-16 shrink-0 items-center gap-x-6 border-b border-white/10 px-4 shadow-sm sm:px-6 lg:px-8">
    <h1 class="text-base font-semibold leading-7 text-xl text-white">
      {% call icons::cog("inline w-8 h-8") %}
      <span class="align-middle pl-2">Global Zone Config</span>
    </h1>
  </header>

  <div class="mx-auto px-8">
    <div class="space-y-12">
      <div class="pb-12">
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <p class="sm:col-span-4 text-gray-500">
            The Global Zone config is located at <code>/usbkey/config</code>
            and contains
            <a
              href="https://docs.smartos.org/extra-configuration-options/"
              class="underline decoration-solid text-blue-600 hover:text-blue-500"
              target="_blank">
              various persistent configuration options</a>.
          </p>
          {% for (key, value) in config %}
            {% call input::text_view(key, value) %}
          {% endfor %}
      </div>
    </div>
  </div>

</div>
{% endblock %}