{%- import "macros/icons.j2" as icons -%}
{% extends "layout/authed.j2" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div id="content">

  <header class="header-bg top-0 z-40 flex h-16 shrink-0 items-center gap-x-6 border-b border-white/10 bg-gray-900 px-4 shadow-sm sm:px-6 lg:px-8">
    <h1 class="text-base font-semibold leading-7 text-xl text-white">
      {% call icons::import("inline w-8 h-8") %}
      <span class="align-middle pl-2">Available Images</span>
    </h1>
  </header>

  <main>
    <div class="px-4 sm:px-6 lg:px-8">
      <div class="flow-root">
        <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle">
            <table class="w-full whitespace-nowrap text-left">
              <colgroup>
                <col class="w-full sm:w-4/12">
                <col class="lg:w-1/12">
                <col class="lg:w-4/12">
                <col class="lg:w-2/12">
                <col class="lg:w-2/12">
              </colgroup>
              <thead class="border-b border-white/10 text-sm leading-6 text-white">
                <tr class="sticky-header">
                  <th scope="col" class="sticky top-0 z-10 py-2 pl-4 pr-8 sm:pl-6 lg:pl-8 font-semibold sm:table-cell bg-gray-900">Name</th>
                  <th scope="col" class="sticky top-0 z-10 py-2 pl-0 pr-4 font-semibold sm:table-cell bg-gray-900">UUID</th>
                  <th scope="col" class="sticky top-0 z-10 py-2 pl-0 pr-8 font-semibold sm:table-cell bg-gray-900">Version</th>
                  <th scope="col" class="sticky top-0 z-10 py-2 pl-0 pr-8 font-semibold md:table-cell bg-gray-900">State</th>
                  <th scope="col" class="sticky top-0 z-10 py-2 pl-0 pr-8 font-semibold md:table-cell bg-gray-900">Type</th>
                  <th scope="col" class="sticky top-0 z-10 py-2 pl-0 pr-4 font-semibold md:table-cell bg-gray-900">OS</th>
                  <th scope="col" class="sticky top-0 z-10 py-2 pl-0 pr-4 font-semibold md:table-cell bg-gray-900"></th>
                </tr>
              </thead>
              <tbody class="divide-y divide-white/5">
                {% for image in images %}
                <tr
                  class="hover:bg-gray-800">
                  <td class="py-4 pl-4 pr-8 sm:pl-6 lg:pl-8">
                    <div class="flex items-center gap-x-4">
                      <div class="truncate text-sm font-medium leading-6 text-white">{{image.manifest.name}}</div>
                    </div>
                  </td>
                  <td class="py-4 pl-0 pr-4 text-sm leading-6 text-gray-400 sm:table-cell sm:pr-6 lg:pr-8">
                    {{image.manifest.uuid}}
                  </td>
                  <td class="py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
                    <div class="flex gap-x-3">
                      <div class="text-sm leading-6 text-gray-400">{{image.manifest.version}}</div>
                    </div>
                  </td>
                  <td class="py-4 pl-0 pr-8 text-sm leading-6 text-gray-400 md:table-cell lg:pr-20">{{image.manifest.state}}</td>
                  <td class="py-4 pl-0 pr-8 text-sm leading-6 text-gray-400 md:table-cell lg:pr-20">{{image.manifest.type|format_word}}</td>
                  <td class="py-4 pl-0 pr-4 text-sm leading-6 text-gray-400 sm:pr-8 lg:pr-20">{{image.manifest.os|format_word}}</td>
                  <td class="py-4 pl-0 pr-4 text-sm leading-6 sm:pr-8 lg:pr-20">
                    <form
                      method="POST"
                      data-hx-post="/import/{{image.manifest.uuid}}"
                      data-hx-target="#notifications"
                      data-hx-swap="beforeend">
                      <input type="hidden" name="url" value="{{image.source}}" />
                      <input type="hidden" name="name" value="{{image.manifest.name}}" />
                      <input type="hidden" name="version" value="{{image.manifest.version}}" />
                      <input type="hidden" name="type" value="{{image.manifest.type}}" />
                      <input type="hidden" name="os" value="{{image.manifest.os}}" />
                      <div>
                        <button
                          type="submit"
                          data-hx-disabled-elt="this"
                          data-hx-indicator="#import-loader-{{image.manifest.uuid}}"
                          title="Import this image"
                          class="btn btn-clear p-0">
                            <span class="htmx-indicator" id="import-loader-{{image.manifest.uuid}}">
                              <span class="loader-icon">
                                {% call icons::loading("h-5 w-5 inline") %}
                              </span>
                              <span class="default-icon">
                                {% call icons::import("h-5 w-5 inline") %}
                              </span>
                            </span>
                        </button>
                      </div>
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </main>
</div>

{% endblock %}