{%- import "macros/icons.j2" as icons -%}
{% extends "layout/authed.j2" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<form id="content">

    {% match instance_enum %}

      {% when Instance::Joyent with (instance) %}
        {% let brand = "joyent" %}
        {% include "include/instance_header.j2" %}
        {% match json %}
          {% when Some with (json_string) %}
            {% include "include/json_viewer.j2" %}
          {% when None %}
            {% include "include/instance_generic.j2" %}
            {% include "include/instance_native.j2" %}
        {% endmatch %}

      {% when Instance::JoyentMinimal with (instance) %}
        {% let brand = "joyent-minimal" %}
        {% include "include/instance_header.j2" %}
        {% match json %}
          {% when Some with (json_string) %}
            {% include "include/json_viewer.j2" %}
          {% when None %}
            {% include "include/instance_generic.j2" %}
            {% include "include/instance_native.j2" %}
        {% endmatch %}

      {% when Instance::LX with (instance) %}
          {% let brand = "lx" %}
          {% include "include/instance_header.j2" %}
          {% match json %}
          {% when Some with (json_string) %}
            {% include "include/json_viewer.j2" %}
          {% when None %}
            {% include "include/instance_generic.j2" %}
            {% include "include/instance_native.j2" %}
            {% include "include/instance_lx.j2" %}
        {% endmatch %}

        {% when Instance::Bhyve with (instance) %}
          {% let brand = "bhyve" %}
          {% include "include/instance_header.j2" %}
          {% match json %}
          {% when Some with (json_string) %}
            {% include "include/json_viewer.j2" %}
          {% when None %}
            {% include "include/instance_generic.j2" %}
            {% include "include/instance_hvm.j2" %}
        {% endmatch %}

      {% when Instance::KVM with (instance) %}
        {% let brand = "kvm" %}
        {% include "include/instance_header.j2" %}
        {% match json %}
          {% when Some with (json_string) %}
            {% include "include/json_viewer.j2" %}
          {% when None %}
            {% include "include/instance_generic.j2" %}
            {% include "include/instance_hvm.j2" %}
        {% endmatch %}

    {% endmatch %}


</form>
{% endblock %}