{%- import "macros/icons.j2" as icons -%}
{% if success -%}
  <div
    data-hx-ext="remove-me"
    data-remove-me="5s"
    class="rounded border-l-4 border-green-400 bg-green-50 p-4">
    <div class="flex">
      <div class="flex-shrink-0">
        {% call icons::ok("h-6 w-6 text-green-700") %}
      </div>
      <div class="ml-3">
        <p class="text-sm text-green-700 pr-4">
          {{message}}
        </p>
      </div>
    </div>
  </div>
{% else -%}
  <div
    data-hx-ext="remove-me"
    data-remove-me="5s"
    class="rounded border-l-4 border-red-400 bg-red-50 p-4">
    <div class="flex">
      <div class="flex-shrink-0">
        {% call icons::error("h-6 w-6 text-red-700") %}
      </div>
      <div class="ml-3">
        <p class="text-sm text-red-700 pr-6">
          <span class="font-medium text-red-800">Validation Failed:</span> {{message}}
        </p>
      </div>
    </div>
  </div>
{% endif -%}