{%- import "macros/inputs.j2" as input -%}
<div class="mx-auto px-8">
  <div class="space-y-12">
    <div class="pb-12">
      <h2 class="text-base font-semibold leading-7 text-white">Native Zone Properties</h2>
      <p class="mt-1 text-sm leading-6 text-gray-600">
        Instance properties specific to a native zone.
      </p>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        {% call input::text_view("Image UUID", instance.native.image_uuid) %}
      </div>
    </div>
  </div>
</div>