{%- import "macros/inputs.j2" as input -%}
<div class="mx-auto px-8">
  <div class="space-y-12">
    <div class="pb-12">
      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
        {% call input::text_view("UUID", instance.generic.uuid) %}
        {% call input::text_view("Alias", instance.generic.alias.as_deref().unwrap_or("")) %}
        {% call input::text_view("Brand", brand) %}
        {% call input::text_view("State", instance.generic.state) %}
        {% call input::text_view("Quota", instance.generic.quota) %}
        {% call input::text_view("Max Physical Memory", instance.generic.max_physical_memory) %}
        {% match instance.generic.resolvers %}
          {% when Some with (resolvers) %}
            {% call input::text_view("Resolvers", resolvers.join(", ")) %}
          {% when None %}
            {% call input::text_view("Resolvers", "") %}
        {% endmatch %}
        {% call input::text_view("CPU Shares", instance.generic.cpu_shares) %}
        {% call input::bool_view("Firewall Enabled",
          "firewall_enabled",
            instance.generic.firewall_enabled,
            "Specifies whether the firewall is enabled, allowing firewall rules set by fwadm(8) to be applied.")
        %}
        {% call input::bool_view("Autoboot",
          "autoboot",
          instance.generic.autoboot,
          "Specifies whether or not a VM is booted when the system is rebooted.")
        %}

        {% match instance.generic.dns_domain %}
          {% when Some with (dns_domain) %}
            {% call input::text_view("DNS Domain", dns_domain) %}
          {% when None %}
            {% call input::text_view("DNS Domain", "") %}
        {% endmatch %}

        {% call input::text_view("Privileges", instance.generic.limit_priv) %}
        {% call input::text_view("Max Lightweight Processes", instance.generic.max_lwps) %}
        {% call input::text_view("Max Shared Memory", instance.generic.max_shm_memory) %}
        {% call input::text_view("Max Swap", instance.generic.max_swap) %}
        {% call input::text_view("ZFS Filesystem", instance.generic.zfs_filesystem) %}
        {% call input::text_view("ZFS IO Priority", instance.generic.zfs_io_priority) %}

        {% call input::text_view("Zone Path", instance.generic.zonepath) %}
        {% call input::text_view("Created", instance.generic.create_timestamp) %}
        {% call input::text_view("Last Modified", instance.generic.last_modified) %}
        {% call input::text_view("Platform Build Timestamp", instance.generic.platform_buildstamp) %}

        {% match instance.generic.boot_timestamp %}
          {% when Some with (boot_timestamp) %}
            {% call input::text_view("Boot Timestamp", boot_timestamp) %}
          {% when None %}
        {% endmatch %}

        {% match instance.generic.exit_status %}
          {% when Some with (exit_status) %}
            {% call input::text_view("Exit Status", exit_status) %}
          {% when None %}
        {% endmatch %}

        {% match instance.generic.exit_timestamp %}
          {% when Some with (exit_timestamp) %}
            {% call input::text_view("Exit Timestamp", exit_timestamp) %}
          {% when None %}
        {% endmatch %}
      </div>
    </div>
  </div>
</div>