<div class="text-center mt-20">
  <div class="htmx-indicator mx-auto h-12 w-12 text-gray-400" id="import-main-loader">
    <div class="loader-icon">
      {% call icons::loading("h-10 w-10") %}
    </div>
    <div class="default-icon">
      {% call icons::empty_box("h-10 w-10") %}
    </div>
  </div>
  <h3 class="mt-2 text-lg font-semibold text-white">No images are installed</h3>
  <p class="mt-1 text-sm text-gray-500">
    An instance is created from an image, you must first import an image before you may provision any instances.
  </p>
  <div class="mt-6">
    <button
      type="button"
      href="/import"
      data-hx-get="/import"
      data-hx-target="#main"
      data-hx-select="#content"
      data-hx-indicator="#import-main-loader"
      data-hx-disabled-elt="this"
      title="Import Image"
      class="btn btn-primary">
        {% call icons::import("h-6 w-6 inline pr-1") %}
        <span class="align-middle btn-text">Import an Image</span>
    </button>
  </div>
</div>