{% macro home(classes) %}
<svg
  class="{% if classes.is_empty() %}w-6 h-6{% else %}{{classes}}{% endif %}"
  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
</svg>
{% endmacro %}

{% macro info(classes) %}
<svg
  class="{% if classes.is_empty() %}w-6 h-6{% else %}{{classes}}{% endif %}"
  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
</svg>
{% endmacro %}

{% macro error(classes) %}
<svg
  class="{% if classes.is_empty() %}w-6 h-6{% else %}{{classes}}{% endif %}"
  viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
</svg>
{% endmacro %}

{% macro ok(classes) %}
<svg
  class="{% if classes.is_empty() %}w-6 h-6{% else %}{{classes}}{% endif %}"
  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
</svg>
{% endmacro %}

{% macro trash(classes) %}
<svg
  class="{% if classes.is_empty() %}w-6 h-6{% else %}{{classes}}{% endif %}"
  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
</svg>
{% endmacro %}

{% macro servers(classes) %}
<svg
  class="{% if classes.is_empty() %}w-6 h-6{% else %}{{classes}}{% endif %}"
  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 14.25h13.5m-13.5 0a3 3 0 0 1-3-3m3 3a3 3 0 1 0 0 6h13.5a3 3 0 1 0 0-6m-16.5-3a3 3 0 0 1 3-3h13.5a3 3 0 0 1 3 3m-19.5 0a4.5 4.5 0 0 1 .9-2.7L5.737 5.1a3.375 3.375 0 0 1 2.7-1.35h7.126c1.062 0 2.062.5 2.7 1.35l2.587 3.45a4.5 4.5 0 0 1 .9 2.7m0 0a3 3 0 0 1-3 3m0 3h.008v.008h-.008v-.008Zm0-6h.008v.008h-.008v-.008Zm-3 6h.008v.008h-.008v-.008Zm0-6h.008v.008h-.008v-.008Z" />
</svg>
{% endmacro %}

{% macro server(classes) %}
<svg
  class="{% if classes.is_empty() %}w-6 h-6{% else %}{{classes}}{% endif %}"
  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 17.25v-.228a4.5 4.5 0 0 0-.12-1.03l-2.268-9.64a3.375 3.375 0 0 0-3.285-2.602H7.923a3.375 3.375 0 0 0-3.285 2.602l-2.268 9.64a4.5 4.5 0 0 0-.12 1.03v.228m19.5 0a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3m19.5 0a3 3 0 0 0-3-3H5.25a3 3 0 0 0-3 3m16.5 0h.008v.008h-.008v-.008Zm-3 0h.008v.008h-.008v-.008Z" />
</svg>
{% endmacro %}

{% macro box(classes) %}
<svg
  class="{% if classes.is_empty() %}w-6 h-6{% else %}{{classes}}{% endif %}"
  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" d="m21 7.5-9-5.25L3 7.5m18 0-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />
</svg>
{% endmacro %}

{% macro logout(classes) %}
<svg
  class="{% if classes.is_empty() %}w-6 h-6{% else %}{{classes}}{% endif %}"
  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
</svg>
{% endmacro %}

{% macro plus_circle(classes) %}
<svg
  class="{% if classes.is_empty() %}w-6 h-6{% else %}{{classes}}{% endif %}"
  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
</svg>
{% endmacro %}

{% macro import(classes) %}
<svg
  class="{% if classes.is_empty() %}w-6 h-6{% else %}{{classes}}{% endif %}"
  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 9.75v6.75m0 0-3-3m3 3 3-3m-8.25 6a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z" />
</svg>
{% endmacro %}

{% macro doc_check(classes) %}
<svg
  class="{% if classes.is_empty() %}w-6 h-6{% else %}{{classes}}{% endif %}"
  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
  <path strokeLinecap="round" strokeLinejoin="round" d="M10.125 2.25h-4.5c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125v-9M10.125 2.25h.375a9 9 0 0 1 9 9v.375M10.125 2.25A3.375 3.375 0 0 1 13.5 5.625v1.5c0 .621.504 1.125 1.125 1.125h1.5a3.375 3.375 0 0 1 3.375 3.375M9 15l2.25 2.25L15 12" />
</svg>
{% endmacro %}

{% macro play_circle(classes) %}
<svg
  class="{% if classes.is_empty() %}w-6 h-6{% else %}{{classes}}{% endif %}"
  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
  <path stroke-linecap="round" stroke-linejoin="round" d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
</svg>
{% endmacro %}

{% macro stop_circle(classes) %}
<svg
  class="{% if classes.is_empty() %}w-6 h-6{% else %}{{classes}}{% endif %}"
  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
  <path stroke-linecap="round" stroke-linejoin="round" d="M9 9.563C9 9.252 9.252 9 9.563 9h4.874c.311 0 .563.252.563.563v4.874c0 .311-.252.563-.563.563H9.564A.562.562 0 0 1 9 14.437V9.564Z" />
</svg>
{% endmacro %}

{% macro power(classes) %}
<svg
  class="{% if classes.is_empty() %}w-6 h-6{% else %}{{classes}}{% endif %}"
  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" d="M5.636 5.636a9 9 0 1 0 12.728 0M12 3v9" />
</svg>
{% endmacro %}

{% macro loading(classes) %}
{# By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL #}
<svg
  class="{% if classes.is_empty() %}w-6 h-6{% else %}{{classes}}{% endif %}"
  viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
    <g fill="none" fill-rule="evenodd">
        <g transform="translate(1 1)" stroke-width="2">
            <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
            <path d="M36 18c0-9.94-8.06-18-18-18">
                <animateTransform
                    attributeName="transform"
                    type="rotate"
                    from="0 18 18"
                    to="360 18 18"
                    dur="1s"
                    repeatCount="indefinite"/>
            </path>
        </g>
    </g>
</svg>
{% endmacro %}

{% macro smartos(classes) %}
<svg
  class="{% if classes.is_empty() %}w-6 h-6{% else %}{{classes}}{% endif %}"
  x="0px" y="0px"  viewBox="0 0 64.6 64.6" style="enable-background:new 0 0 64.6 64.6;" xml:space="preserve">
<style type="text/css">
  .st0{fill:#80CFE3;}
  .st1{fill:none;stroke:#011B2A;stroke-width:2;stroke-linejoin:bevel;stroke-miterlimit:10;}
</style>
<g>
  <path class="st0" d="M62.2,64.6H2.4c-1.3,0-2.4-1.1-2.4-2.4V2.4C0,1.1,1.1,0,2.4,0h59.8c1.3,0,2.4,1.1,2.4,2.4v59.8
    C64.6,63.5,63.5,64.6,62.2,64.6z"/>
  <polyline class="st1" points="32.3,39.8 32.3,53.9 54.6,53.9 54.6,31.6 10,31.6 10,9.3 32.3,9.3 32.3,25.8"/>
</g>
</svg>
{% endmacro %}